<div class="pt-5"></div>
<img src="../../assets/images/logo.png" alt="logo" class="logo mx-auto d-block" width="150" height="150">
<div class="login-box my-5">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a routerLink="/user" class="succ">
        <span ></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a routerLink="/home" class="fail">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cancel
      </a>
        
      <p class="text-white">
        <a href="/register" class="succ mx-auto d-block text-center">
            <span ></span>
            <span></span>
            <span></span>
            <span></span>
            register
          </a>
      </p>

    </form>
  </div>
  <router-outlet></router-outlet>
  