<div class="pt-5"></div>
<img src="../../assets/images/logo.png" alt="logo" class="logo mx-auto d-block" width="150" height="150">
<div class="login-box my-5">
    <h2>Register</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="email" name="" required="">
        <label>email id</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a routerLink="/admin" class="succ">
        <span ></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a routerLink="/login" class="fail">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cancel
      </a>
    </form>
  </div>
  <router-outlet></router-outlet>